<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseInc.html}">
    <title>LOL.DP</title>
<style layout:fragment="style">
    table,th,tr,td {
        border: 1px solid black;
        background-color: #d5d5d5;
        color: black;
    }

    .infoDiv {
        width: 1000px;
        margin: 0 auto;
    }

    .infoBox {
        height: 50px;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>
<div layout:fragment="content">
    <div class="infoDiv">
        <th:block th:if="${#authentication.principal != 'anonymousUser'}">
            <div class="infoBox">
                <span></span>
            </div>
            <div class="infoBox">

            </div>
            <div class="infoBox">

            </div>
            <div class="infoBox">

            </div>
        </th:block>
        <th:block th:unless="${#authentication.principal != 'anonymousUser'}">
            <span style="color: #ff7fa3; font-size: 15px; border: 1px solid black;">로그인 하세요</span>
        </th:block>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>